@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face: {
        font-family: Akzidenz;
        font-weight: 700;
        font-style: normal;
        src: local('Roboto'), url('public/fonts/akzidenz/PlaywritePL-VariableFont_wght.ttf') format('opentype');
    }

    @font-face: {
        font-family: Akzidenz;
        font-weight: 500;
        font-style: normal;
        src: local('Roboto'), url('public/fonts/akzidenz/PlaywritePL-VariableFont_wght.ttf') format('opentype');
    }

    @font-face: {
        font-family: Akzidenz;
        font-weight: 400;
        font-style: normal;
        src: url('public/fonts/akzidenz/PlaywritePL-VariableFont_wght.ttf') format('opentype');
    }

    html {
        font-family: Akzidenz, system-ui, sans-serif;
    }
}

@layer components {
	#app {
		@apply h-screen flex flex-col justify-center items-center dark:bg-zinc-800 dark:text-white
	}

	#game {
		@apply mt-10 flex flex-col items-center
	}

	.logo {
		@apply text-2xl sm:text-3xl md:text-5xl font-bold
	}

	.themeSwitcher {
		@apply relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-indigo-600
	}

	.switcherLabels {
		@apply text-sm font-medium text-gray-900 dark:text-gray-300
	}

	#startGame {
		@apply bg-slate-200 rounded-md font-medium p-2.5 hover:bg-slate-300 dark:bg-indigo-600 dark:hover:bg-indigo-700
	}
}