@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face: {
		font-family: 'Akzidenz';
		font-weight: 700;
		font-style: normal;
		src: url(/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf) format('opentype');
	};

	@font-face: {
		font-family: 'Akzidenz';
		font-weight: 500;
		font-style: normal;
		src: url(/fonts/akzidenz/AkzidenzGroteskPro-Md.otf) format('opentype');
	};

	@font-face: {
		font-family: 'Akzidenz';
		font-weight: 400;
		font-style: normal;
		src: url(/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf) format('opentype');
	};

	html {
		font-family: 'Akzidenz', system-ui, sans-serif;
	}
}

@layer components {
	#app {
		@apply h-screen flex flex-col justify-center items-center dark:bg-zinc-800 dark:text-white;
	}

	#game {
		@apply mt-10 flex flex-col items-center;
	}

	.logo {
		@apply text-2xl sm:text-3xl md:text-5xl font-bold;
	}

	.logo-sm {
		@apply text-xl;
	}

	.themeSwitcher {
		@apply relative w-11 h-6 bg-gray-200 peer-focus:outline-none dark:peer-focus:ring-indigo-600 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-indigo-600;
	}

	.langSwitcher {
		@apply relative w-11 h-6 bg-gray-500 peer-focus:outline-none rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all;
	}

	.switcherLabels {
		@apply text-sm font-medium text-gray-900 dark:text-gray-300;
	}

	.button-primary {
		@apply flex justify-center items-center bg-slate-200 rounded-md font-medium p-2.5 enabled:hover:bg-slate-300 dark:bg-indigo-600 enabled:dark:hover:bg-indigo-700 disabled:cursor-not-allowed disabled:opacity-20;
	}

	.button-secondary {
		@apply border border-black hover:bg-slate-100 dark:border-white
	}

	.placeholders-wrap {
		@apply flex flex-row;
	}

	.letter {
		@apply mx-2 text-3xl font-medium;
	}

	.keyboard {
		@apply max-w-2xl mt-5 flex justify-center flex-wrap;
	}

	.keyboard-button {
		@apply w-10 h-10 sm:w-14 sm:h-14 m-1 sm:m-2;
	}

	.hangman-img {
		@apply w-32 h-32 sm:w-60 sm:h-60;
	}

	.result-header {
		@apply text-2xl font-bold mt-4;
	}

	.result-header.win {
		@apply text-lime-600;
	}

	.result-header.lose {
		@apply text-red-600;
	}

	.result-word {
		@apply font-medium uppercase;
	}
}
